html,
body {
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after {
	clear: both;
	content: "";
	display: table;
}

a {
	color: inherit;
	text-decoration: none;
}

li {
	list-style: none;
}

ul li:last-child {
	margin-bottom: 0;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

button,
label {
	cursor: pointer;
}

input,
button,
textarea {
	background: none;
	border: none;
	outline: none;
	display: block;
	width: 100%;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}

input[type="radio"],
input[type="checkbox"] {
	display: none;
}

input::placeholder {
	color: inherit;
}

button {
	cursor: pointer;
}

input,
textarea {
	display: block;
	resize: none;
}

body {
	font-size: 14px;
	line-height: 19px;
	color: #242424;
	width: 100%;
	font-family: 'Manrope', arial, sans-serif;
}

.container {
	max-width: 1325px;
	width: 100%;
	min-width: 320px;
	margin: 0 auto;
	padding: 0 15px;
}

.dn {
	display: none;
}

section {
	padding: 100px 0;
}

.dib {
	display: inline-block;
}

.hover {
	transition: 0.3s;
}

.hover:hover {
	color: #BE963F;
}

.btn {
	box-sizing: border-box;
	border: 1px solid rgb(151, 171, 74);
	border-radius: 40px;
	background: rgb(151, 171, 74);
	color:rgb(252, 248, 243);
	font-size: 15px;
	font-weight: 400;
	line-height: 25.2px;
	text-align: left;
	text-transform: uppercase;
	height: 26px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 9px 12px 78px 28px;
	transition: 0.3s;
}

.btn:hover {
	box-shadow: 0px 6px 5px 2px #836A36;
}
.flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}