@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&family=Roboto+Condensed&display=swap');

html,
body {
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after {
	clear: both;
	content: "";
	display: table;
}

a {
	color: inherit;
	text-decoration: none;
}

li {
	list-style: none;
}

ul li:last-child {
	margin-bottom: 0;
}

/* img {
	display: block;
	width: 100%;
	height: auto;
} */

button,
label {
	cursor: pointer;
}

input,
button,
textarea {
	background: none;
	border: none;
	outline: none;
	display: block;
	width: 100%;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}

input[type="radio"],
input[type="checkbox"] {
	display: none;
}

input::placeholder {
	color: inherit;
}

button {
	cursor: pointer;
}

input,
textarea {
	display: block;
	resize: none;
}

body {
	font-size: 14px;
	line-height: 19px;
	color: rgb(151, 171, 74);
	width: 100%;
	font-family: 'Manrope', arial, sans-serif;
}

.container {
	max-width: 1440px;
	width: 100%;
	min-width: 320px;
	margin: 0 auto;
	padding: 0 15px;
}

.dn {
	display: none;
}

section {
	padding: 100px 0;
}

.dib {
	display: inline-block;
}

.hover {
	transition: 0.3s;
}

.hover:hover {
	color: #BE963F;
}

.btn {
	box-sizing: border-box;
	border: 1px solid rgb(151, 171, 74);
	border-radius: 40px;
	background: rgb(151, 171, 74);
	color: rgb(252, 248, 243);
	font-size: 15px;
	font-weight: 400;
	line-height: 25.2px;
	text-align: left;
	text-transform: uppercase;
	height: 26px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	max-width: 177px;
	max-height: 47px;
	width: 100%;
	padding: 9px 42px 35px 20px;
	transition: 0.3s;
}

.btn:hover {
	box-shadow: 0px 6px 5px 2px #836A36;
}

.flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.logotip {
	margin-top: 8px;
	flex-wrap: nowrap;
}

.logotip img {
	width: 100px;
	margin-right: 29px;
}

.menu {
	margin-top: 30px;
}

span {
	margin-left: 10px;
}

.menu a {
	margin-right: 55px;
	color: rgb(217, 110, 0);
	font-size: 18px;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 0%;
	text-align: left;
}

header span {
	margin-top: 14px;
	margin-right: 23px;
}

.background {
	background-image: url(../img/mainbg.jpg);
}

.sec_tit {
	font-size: 65px;
	font-weight: 400;
	line-height: 77.76px;
	text-align: left;
	width: 620px;
}

.main .sec_p {
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	text-align: left;
	text-transform: uppercase;
	margin-top: 25px;
	margin-bottom: 22px;
}

.main .container {
	margin-left: 75px;
	margin-top: 255px;
	position: relative;
}

t {
	font-size: 55px;
}

.text .sec_tit {
	width: 930px;
	text-align: center;
	margin: 0 auto;
	font-size: 54px;
	line-height: 64.8px;
}

.white_btn {
	background-color: #fff;
	color: rgb(151, 171, 74);
	margin: 0 auto;
}

.icons img {
	width: 22px;
	height: 22px;
}

.feedback {
	justify-content: space-between;
	background: rgb(245, 238, 230);
	padding: 20px;
	width: 645px;
	position: absolute;
	left: 25%;
	top: 128%;

}

/* .feedback_txt:nth-child(1){
	margin-right: 55px;
}
.feedback_txt:nth-child(2){
	margin-left: 55px;
} */
.feedback_txt {
	color: rgb(134, 137, 122);
	font-size: 19px;
	font-weight: 400;
	line-height: 34.56px;
	text-align: left;
}

.icons img {
	margin-right: 6px;
}

.text .sec_tit {
	margin-bottom: 63px;
}

.card {
	width: 248px;
	height: 310px;
	left: 331px;
}

.card-img {
	width: 220px;
	height: 220px;

}

.transpency_tit {
	font-family: 'Reenie Beanie', cursive;
	color: #8E9373;
	text-align: center;
	font-weight: 500;
	font-size: 53px;
	line-height: 64px;
	position: relative;
	bottom: 35px;
}

.cards-wrap{
	position: relative;
	top: 25px;
	right: 10px;
}

.card{
	max-width: 302px;
	max-height: 310px;
}
.card-img{
	max-width: 220px;
	max-height: 220px;
	margin: 0 auto;
}

.card_txt {
	font-family: 'Roboto';
	font-size: 25px;
	font-weight: 400;
	line-height: 35px;
	letter-spacing: 0em;
	text-align: center;
	width: 270px;
	height: 71px;
	top: 235.94px;
	left: 16.63px;
	
}

.card_txt_selected{
  color: #CC6800;
}

.btn_green {
	margin: 0 auto;
	background-color: #AAD114;
	width: 175px;
	height: 47px;
position: relative;
top: 40px;
}

.btn_green:hover {
	background-color: #EEE9E9;
	color: #AAD114;
}

.postcard-wrap {
	display: flex;
	justify-content: space-between;
}

.postcard-wrap {
	left: 72px;
	box-sizing: border-box;
}

.mini-tit {
	color: #CC6800;
	font-family: 'Roboto';
	font-size: 12px;
	font-weight: 400;
	line-height: 14px;
	text-align: left;
	width: 74px;
	height: 15px;
	margin: 10px 0;
	position: relative;
	bottom: 130px;
}

.postcard_tit {
	color: #CC6800;
	font-weight: 400;
	font-size: 41px;
	font-family: 'Roboto';
	line-height: 51px;
	width: 508px;
	height: 57px;
	bottom: 130px;
	position: relative;
}

.postcard_txt {
	width: 524px;
	height: 87px;
	font-weight: 400;
	font-size: 16px;
	line-height: 28px;
	position: relative;
	bottom: 75px;
}

.postcard_txt span {
	font-weight: 700;
	font-size: 16px;
	line-height: 28px;
}

.postcard_btn {
	border: 1px solid #CC6800;
	color: #CC6800;
	width: 192px;
	height: 47px;
	border-radius: 30px;
	font-family: ' Roboto';
	font-size: 15px;
	font-weight: 400;
	line-height: 25px;
	margin: 0;
	position: relative;
	top: 110px;
	transition: .4s;
}

.postcard_btn:hover {
	color: #fff;
	background: #CC6800;
}



.post_img {
	max-width: 576px;
	max-height: 516px;

	display: block;
	background-position: center;
	background-size: cover;
}


.products_tit {
	font: 'Roboto';
	font-weight: 400;
	font-size: 51px;
	line-height: 64px;
	color: #212806;
}


.products-cards {
	display: flex;
	flex-wrap: row;
	justify-content: space-around;
	gap: 50px;
}

.card_products {
	width: 422px;
	height: 521px;
	margin-top: 40px;
}

.card-txt {
	text-align: center;
	padding: 15px;
	color: #fff;
	background-color: #B99C7E;
}

.card-txt_white {
	background-color: #EEE9E9;
}

.card-txt_orange {
	background-color: #CC6800;
}